
.product-page{
    display: flex;

    gap: 80px;

    padding: 80px;

    min-height: 100vh;

    background: #fff;
}

.product-image{
    width: 500px;

    height: 700px;

    object-fit: cover;
}

.product-details{
    max-width: 500px;

    display: flex;

    flex-direction: column;

    justify-content: center;
}

.product-details h1{
    font-size: 3rem;

    font-weight: 300;

    color: #1F2A44;
}

.price{
    font-size: 1.5rem;

    margin: 20px 0;
}

.description{
    line-height: 1.8;

    margin-bottom: 30px;
}

.size-buttons{
    display: flex;

    gap: 10px;

    margin-bottom: 30px;
}

.size-buttons button{
    width: 50px;

    height: 50px;

    border: 1px solid #1F2A44;

    background: white;

    cursor: pointer;
}

.add-cart{

    width:250px;

    padding:15px;

    border:none;

    background:#1F2A44;

    color:white;

    cursor:pointer;

    letter-spacing:2px;
}
.selected{
    background: #1F2A44 !important;
    color: white;
}
.selected-size{
    margin: 15px 0;
    color: #1F2A44;
}
.section-title{
    margin-top: 25px;
    margin-bottom: 12px;

    font-size: 1rem;

    font-weight: 500;

    color: #1F2A44;

    letter-spacing: 1px;
}

.quantity-selector{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:30px;
}

.quantity-selector button{

    width:40px;

    height:40px;

    border:1px solid #1F2A44;

    background:white;

    cursor:pointer;

    font-size:1.2rem;
}

.quantity-selector span{

    min-width:30px;

    text-align:center;

    font-size:1.1rem;
}
.gift-button{

    display:inline-block;

    padding:14px 24px;

    background:#1F2A44;

    color:white;

    border-radius:30px;

    cursor:pointer;

    margin-top:20px;

    transition:0.3s;
}

.gift-button:hover{

    transform:scale(1.03);
}

.quantity-text{

    display:inline-block;

    margin-top:15px;

    padding:10px 18px;

    background:#1F2A44;

    color:white;

    border-radius:30px;

    letter-spacing:1px;
}